.card {
    margin-right: 15px;
    display: inline-block;
    border: 0.5px;
    border-style: groove;
    vertical-align: top;
    padding: 20px;
    cursor: pointer;
    background-color: #e6efe9 !important;
    
}

.card:hover {
    background-color: #b2c1b9 !important;
}

.divider {
    width: 15px;
    height: auto;
    display: inline-block;
}

.header {
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    padding: .75em 2em !important;
}