.card {
    margin-right: 15px !important;
    display: inline-block !important;
    border: 0.5px;
    border-style: groove;
    vertical-align: top ;
    margin-top: 25px !important;
    cursor: pointer;
    width: 270px !important;
    background-color: #eff5f2 !important;
    
}

.card:hover {
    background-color: #ccddd4 !important;
}

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}

.header {
    font-weight: bold;
    font-size: 20px;
}

.buttons {
    padding: .50em 3.5em !important;
}