.card {
    margin-right: 15px;
    display: inline-block;
    border: 0.5px;
    border-style: groove;
    vertical-align: top;
    padding: 20px;
}

.divider {
    width: 15px;
    height: auto;
    display: inline-block;
}

.header {
    font-weight: bold;
    font-size: 20px;
}